@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --container-width: 1130px;
  --container-padding: 15px;
  --font-main: "Evolventa", sans-serif;
  --page-bg: #fff;
  --black: #000;
  --dark: #45494f;
  --akcent: #11d081;
  --gray: #d9d9dc;
  --white: #fff;
  --bg: #f9f9f9;
  --red: #f22b2b;
}

h2 {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 36px;
  line-height: 128%;
  color: var(--dark);
}
h2 span {
  color: var(--akcent);
}

.btn {
  display: block;
  border-radius: 12px;
  padding: 20px 0 20px;
  background: var(--akcent);
  color: var(--white);
  text-align: center;
}

@font-face {
  font-family: "Evolventa";
  font-display: swap;
  src: url("../fonts/Evolventa-Bold.woff") format("woff"), url("../fonts/Evolventa-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Evolventa";
  font-display: swap;
  src: url("../fonts/Evolventa-Regular.woff") format("woff"), url("../fonts/Evolventa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  background-color: var(--white);
  overflow-x: hidden;
}

body {
  background-color: var(--white);
  color: var(--dark);
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

img {
  display: block;
}

code {
  background-color: #e9f1f6;
  padding: 0.2rem;
  border-radius: 4px;
}

pre.code {
  overflow-x: auto;
  background-color: #e9f1f6;
}

html,
body,
.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  margin-top: auto;
}

/* Контейнеры */
.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  width: 100%;
}

.container-full {
  padding: 0 var(--container-padding);
  max-width: 100%;
}

.container-left-50 {
  padding: 0 var(--container-padding);
  max-width: 50%;
}
@media (max-width: 820px) {
  .container-left-50 {
    max-width: 100%;
  }
}

.container-right-50 {
  padding: 0 var(--container-padding);
  max-width: 50%;
  margin-left: auto;
}
@media (max-width: 820px) {
  .container-right-50 {
    max-width: 100%;
  }
}

.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1220px) {
  .container-right {
    padding-left: var(--container-padding);
  }
}

.container-left {
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1220px) {
  .container-left {
    padding-right: var(--container-padding);
  }
}

.container-half-left {
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-width) / 2);
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1220px) {
  .container-half-left {
    padding-left: var(--container-padding);
  }
}
@media (max-width: 820px) {
  .container-half-left {
    padding: 0 var(--container-padding);
  }
}

.container-half-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-width) / 2);
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1220px) {
  .container-half-right {
    padding-right: var(--container-padding);
  }
}
@media (max-width: 820px) {
  .container-half-right {
    padding: 0 var(--container-padding);
  }
}

.header {
  padding: 20px 0 12px;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.header__logo {
  position: relative;
  width: 140px;
  height: 38px;
  overflow: hidden;
}
.header__logo img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}

.nav__link {
  padding: 10px 16px;
  border: solid 1px var(--gray);
  border-radius: 8px;
  color: var(--dark);
  -webkit-transition: border-color ease-in-out 0.3s;
  -o-transition: border-color ease-in-out 0.3s;
  transition: border-color ease-in-out 0.3s;
}
.nav__link:hover {
  border-color: var(--akcent);
}

.header__phone a {
  position: relative;
  padding-left: 21px;
  color: var(--dark);
}
.header__phone a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  background-image: url(../img/svgicons/phone.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

footer p {
  font-size: 25px;
  color: purple;
}

.hero__wrap {
  position: relative;
}

.swiper {
  position: relative;
  width: 100%;
  height: 702px;
  border-radius: 30px;
}

.swiper-slide {
  position: relative;
  border-radius: 30px;
  background-color: var(--bg);
}

.swiper-slid__text {
  margin-top: 140px;
  margin-left: 60px;
}

.swiper-slid__title {
  font-size: 52px;
  font-weight: 700;
  line-height: 128%;
}
.swiper-slid__title span {
  color: var(--akcent);
}

.swiper-slid__descr {
  margin-top: 40px;
  font-size: 14px;
  max-width: 340px;
}

.swiper-slid__img {
  position: absolute;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-slid__img_slid-1 {
  width: 421px;
  height: 694px;
}
.swiper-slid__img_slid-2 {
  width: 458px;
  height: 626px;
  right: -48px;
}
.swiper-slid__img_slid-3 {
  width: 577px;
  height: 545px;
  right: -84px;
  bottom: -20px;
}
.swiper-slid__img_slid-4 {
  width: 322px;
  height: 646px;
  bottom: -28px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 19px;
  height: 18px;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: var(--gray);
}

.swiper-pagination-bullet-active {
  background-color: var(--akcent);
}

.swiper-button-prev,
.swiper-button-next {
  width: 35px;
  height: 35px;
  top: calc(100% - 140px);
}

.swiper-button-prev {
  left: 60px;
}

.swiper-button-next {
  right: calc(100% - 137px);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: url(../img/svgicons/arrow.svg);
}

.swiper-button-prev::after {
  rotate: 180deg;
}

.hero__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 5;
  bottom: 22px;
  left: 50%;
  width: calc(100% - 88px);
  padding: 15px 31px;
  border-radius: 12px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--white);
}

.hero__form-descr {
  max-width: 143px;
  font-size: 14px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}

.input {
  padding: 12px 0 12px 12px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  width: 276px;
  height: 34px;
}

.button {
  padding: 19px 30px;
  margin-left: 11px;
  background-color: var(--akcent);
  color: var(--white);
  border-radius: 8px;
  font-size: 14px;
}

.span__diz {
  position: absolute;
  top: 32px;
  right: 42px;
  font-size: 14px;
}

.border-title {
  display: inline-block;
  padding: 14px;
  border: solid 1px var(--white);
  border-radius: 8px;
}

a.link-too {
  position: relative;
  text-decoration: underline;
  color: var(--white);
}
a.link-too::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: -18px;
  width: 16px;
  height: 16px;
  background-image: url(../img/svgicons/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}

.services {
  margin-top: 140px;
}

.services__represent-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__represent-descr {
  max-width: 209px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  padding-bottom: 5px;
}

.services__represent-img {
  position: relative;
  margin-top: 100px;
  border-radius: 30px;
  max-width: 1100px;
  height: 416px;
  overflow: hidden;
}
.services__represent-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__service-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  margin-top: 16px;
}

.services__service {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 30px 42px;
  color: var(--white);
  background: var(--akcent);
  border-radius: 30px;
}

.services__service-title {
  border-color: var(--white);
}

.services__service-descr {
  margin-top: 60px;
  margin-bottom: 135px;
  max-width: 394px;
  font-size: 14px;
}

.services__price-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-radius: 30px;
  background-color: var(--bg);
  position: relative;
  padding: 32px;
  border-radius: 30px;
}

.services__price-title {
  font-size: 20px;
  line-height: 128%;
}
.services__price-title span {
  color: var(--akcent);
}

.services__price-nav {
  margin-top: 29px;
}

.services__price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}

.services__price-item {
  display: contents;
}
.services__price-item:hover {
  border: 1px solid var(--akcent);
}

.services__price-link {
  border: 1px solid var(--gray);
  border-radius: 8px;
  padding: 8px 12px;
  color: var(--gray);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.services__price-link:hover {
  color: var(--akcent);
  border-color: var(--akcent);
}

.services__all-price {
  margin-top: 40px;
}

.services__veneers-block {
  position: relative;
  margin-top: 16px;
  padding: 30px 42px;
  border-radius: 30px;
  background: var(--akcent);
  background: var(--bg);
  font-size: 14px;
}

.services__veneers-tile {
  border-color: var(--akcent);
}

.services__veneers-descr {
  max-width: 497px;
  margin: 60px 0 89px;
}

a.services__veneers-link {
  color: var(--dark);
}
a.services__veneers-link::after {
  background-image: url(../img/svgicons/arrow-right-black.svg);
}

.services__veneers-img {
  position: absolute;
  right: 70px;
  bottom: 0;
  width: 362px;
  height: 316px;
}

.about {
  margin-top: 140px;
}

.about__wrap {
  position: relative;
}

.about__title {
  display: inline;
  margin-bottom: 114px;
}

.services__btn {
  position: absolute;
  right: 15px;
  top: 5px;
  max-width: 318px;
  width: 100%;
}

.about__content {
  margin-top: 114px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 449px 16px 635px;
  grid-template-columns: 449px 635px;
  -ms-grid-rows: 364px 0px 115px 0px 407px;
  grid-template-rows: 364px 115px 407px;
  gap: 0px 16px;
  grid-auto-flow: row;
      grid-template-areas: "about__img_1 about__descr_1" "about__img_1 about__img_2" "about__descr_2 about__img_2";
}

.about__img_1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: about__img_1;
}

.about__descr_1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  padding-top: 31px;
  grid-area: about__descr_1;
}

.about__descr_2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  padding-bottom: 30px;
  grid-area: about__descr_2;
  -ms-grid-row-align: end;
      align-self: end;
}

.about__img_2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: about__img_2;
}

.about__img {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.about__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.license {
  padding: 110px 0 60px;
  background-color: var(--akcent);
}

.license__wrap {
  position: relative;
}

.license__title {
  margin-bottom: 101px;
  font-weight: 700;
  font-size: 36px;
  line-height: 128%;
  color: var(--white);
}

.license-slider {
  position: relative;
  width: calc(100% + 30px);
  overflow: hidden;
}

.license-slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.license-slider__slid {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.license-slider__slid {
  position: relative;
  height: 494px;
  border-radius: 30px;
  overflow: hidden;
}

.container__buttons {
  margin: 0;
  padding-right: 30px;
}

.license-slide__buttons {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline;
  top: 45px;
  right: 0;
}

.license-slide__button-prev,
.license-slide__button-next {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: var(--white) 1px solid;
  background-image: url(../img/svgicons/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.license-slide__button-next {
  rotate: 180deg;
}

.license-slider__slid-content {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 6;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 44px 36px 39px 36px;
  border-radius: 30px;
  background-color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.license-slider__slid-content::after {
  content: "";
  position: absolute;
  z-index: 7;
  right: 34px;
  top: 34px;
  width: 25px;
  height: 25px;
  background-image: url(../img/svgicons/arrow-right-akcent.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: rotate ease-in-out 0.3s;
  -o-transition: rotate ease-in-out 0.3s;
  transition: rotate ease-in-out 0.3s;
}
.license-slider__slid-content:hover {
  top: 36px;
}

.license-slider__slid:hover .license-slider__slid-content::after {
  rotate: 50deg;
}

.license-slider__slid-title {
  font-weight: 700;
  font-size: 20px;
  color: var(--dark);
}

.license-slider__slid-descr {
  padding-top: auto;
}

.license-slider__img {
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.modal {
  background-color: #fff;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}